

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.text_primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn_primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 24px ;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    
}
.section_title{
    font-size: 32px;
    font-weight: 800;
    color: #181818;
}
.section_description{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
}
.secondary_background{
    background-color: #FFF8F3;
}
/* header styles */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}


/*nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
}
/* banner design */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 32px 0 210px;
}
.banner_content{
    max-width: 464px;

}
.banner_greetings{
    font-size: 40px;
    font-weight: 600;
}
.banner_title{
    font-size: 75;
    font-weight: 800;
}
.banner_description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.banner_profile_pic{
    width: 470px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about_items{
    display:flex;
    justify-content: space-around;
}
.item_description{
    font-weight: 800;
}
/* skills style section */
.skill_container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.section_title{
    text-align: center;
}
/* resume section styles */
.resume_container{
    display: flex;
    gap: 24px;
}
.experience_sub_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience_description, .experience_sub_title{
    color: #757575;
}
.resume_download_cv{
    margin-top: 50px;
}
/* footer style */
footer{
    padding: 123px 230px;
    display: flex;
    gap: 100px;
}
.footer_column{
    width: 50%;
}
footer input[type="text"],input[type="email"], footer textarea {
    display: block;
    border-radius: 5px;
    height: 60px;
    background-color: white;
    margin-bottom: 24px;
    width: 100%;

}